root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,md,toml,yaml,yml}]
indent_style = space

{% set blocks = [] -%}
{% for language in languages -%}
{%- set snippet %}{% include 'languages/' ~ language ~ '/.editorconfig.jinja' %}{% endset -%}
{% if snippet | trim %}{% set _ = blocks.append(snippet | trim) %}{% endif -%}
{%- endfor -%}
{{ ((blocks | join('\n\n')) ~ '\n\n' if blocks else '') -}}
# Project-specific
