# Project Structure

Here are standard project structures of languages, kept for reference.

The file holding the layout attuned to this project is [context.md](../.attunic/context.md).

The files holding the rules for working with this project are [coding-conventions.md](coding-conventions.md) and [development-guideline.md](development-guideline.md).

{% include 'languages/' ~ language ~ '/project-structure.md.jinja' %}
## Project-specific

<!-- Project-specific -->
